
.barranav{
    background-color: rgba(0, 0, 0, 0.5);
}
.itensnav{
    margin-left: 130px;
}
a .navbar-brand :hover{
    color: rgba(0, 0, 0, 1);
}
.conteudo{
    text-align: center;
    position: relative;
    height: 1000px;
}
.rodape{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    margin-top: 10px;
    bottom:0;
}

.imagem :hover{
    opacity: 0.5;
}
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer,
.push {
    height: 50px;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}